{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
  <div class="jumbotron jumbotron-fluid d-flex">
    <div class="row">
      <div class="intro col-12">
        <h1 class="index-title display-4">Nature Scents</h1>
        <p class="lead index-text">Bring the aroma of nature into your home</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 nature-home-info my-5 d-flex justify-content-center">
      <a href="{% url 'products' %}" class="btn btn-lg active shop-button" role="button" aria-pressed="true">Shop
        Now</a>
    </div>
  </div>

  <div>
    <hr class="page-end">
  </div>

  <div class="row carousel-products d-flex justify-content-center p-0">
    <div class="col-12 text-center p-0">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner p-0">
          <div class="carousel-item justify-content-center active mb-5">
            <img class="mx-auto img-responsive" src="{{ MEDIA_URL }}candles.png" alt="candles">
            <div class="card-img-overlay">
              <h3 class="card-title">Candles</h3>
            </div>
          </div>
          <div class="carousel-item mb-5">
            <img class="mx-auto img-responsive" src="{{ MEDIA_URL }}oils.png" alt="oils">
            <div class="card-img-overlay">
              <h3 class="card-title">Oils</h3>
            </div>
          </div>
          <div class="carousel-item mb-5">
            <img class="mx-auto img-responsive" src="{{ MEDIA_URL }}soaps.png" alt="soaps">
            <div class="card-img-overlay">
              <h3 class="card-title">Soaps</h3>
            </div>
          </div>
          <div class="carousel-item mb-5">
            <img class="mx-auto img-responsive" src="{{ MEDIA_URL }}bundles.png" alt="bundles">
            <div class="card-img-overlay">
              <h3 class="card-title">Bundles</h3>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock %}