{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="philosophy mb-2 jumbotron-fluid d-flex">
  <div class="row">
    <div class="intro mb-2 col-12">
      <h1 class="philosophy-title display-4">Our Philosophy</h1>
    </div>
  </div>
</div>

<div class="container-fluid text-center">
  <div class="row nature-home-info mt-4 justify-content-center">
    <div class="col-12 philosophy-text">
      <p class="lead index-info">We have worked tirelessly to give you products of the <strong>highest
          quality</strong></p>
      <p class="lead index-info">While we are at it we are committed to <strong>sustainable practices</strong></p>
      <p class="lead index-info">Simple quality products that bring nature to your <strong>environment</strong><br>
        without damaging the earth in the process</p>
    </div>
  </div>
</div>

<div>
  <hr class="page-end">
  </hr>
</div>

{% endblock %}