{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="subscription mb-3 jumbotron-fluid d-flex">
  <div class="row">
    <div class="intro mb-2 col-12">
      <h1 class="subscription-title display-4">Subscription</h1>
      <p class="sub-text lead index-text">Would you like a new scent each month?</p>
    </div>
  </div>
</div>

<div class="container-fluid w-100 text-center">
  <div class="row m-0 text-center">
    <div class="col">
      <h2 class="mt-5">Essential Oils Delivered Monthly<br>
        to Your Door</h2>
        <hr class="page-underline">
    </div>
  </div>
  <div class="row subscription-info mb-3 d-inline-flex">
    <div class="col-xs-12 col-sm-4">
      <img class="sub-photo card-img-top img-fluid d-inline-block mx-auto" src="{{ MEDIA_URL }}subscription-oil.png" alt="Essential oil bottle">
    </div>
    <div class="col-xs-12 col-sm-4 sub-detail my-5">
      <h3 class="text-center mb-5">1 Essential Oil Roller <br> + <br> 1 Essential Oil Bottle</h3>
      <h4 class="text-center mb-5">New scents each month <br> to match<br> the season.</h4>
      <h4 class="text-center">€350 yearly subscription</h4>
    </div>
    <div class="col-xs-12 col-sm-4">
      <img class="sub-photo card-img-top img-fluid d-inline-block mx-auto" src="{{ MEDIA_URL }}subscription-roller.png" alt="Essential oil roller">
    </div>
  </div>
</div>
<div>
  <hr class="page-end mt-5">
  </hr>
</div>

{% endblock %}