body {
    font-family: 'Josefin Sans', sans-serif !important;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    width: 100vw;
}

/* ---------------Navigation */

.navbar {
    height: 175px !important;
    width: 100vw !important;
    background-color:#7D8E95 !important;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    padding: 0;
    flex-direction: row;
    margin: 0;
}

.nav-item a {
    font-size: 1.15rem;
    color: white !important;
    padding: 5px;
    text-transform: uppercase;
}

#nav-nature img {
    display: inline-block;
    width: 125px;
    height: 125px;
    padding: 0;
    margin: 0;
}

.icons {
    justify-content: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    font-size: 1.5rem;
}

.icon {
    color:#FFBB98;
    text-decoration: none;
    padding: 25px;
}

.users {
    line-height: 3rem;
    align-items: center;
}

.dropdown-menu a {
    text-transform: lowercase;
    text-transform: capitalize;
}

.dropdown .dropdown-item {
    color: #7D8E95 !important;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.15rem !important;
}

.search-bar {
    margin-top: 175px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
    height: fit-content;
    width: 50vw;
    background-color: #7D8E95;
    font-size: 12px;
}

.search-container {
    background-color: #7D8E95;
    font-size: 12px;
}

/* ------------Home Page */

.jumbotron {
    margin-top: 50px;
    padding: 0;
    background-image: url('/media/hero-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: fit-content;
}

.home-info {
    justify-content: left;
    text-align: left;
    padding: 0;
    height: fit-content;
    width: 100vw;
}

.index-title {
    font-size: 6rem;
    font-family: "Cardo", sans-serif;
    padding: 0;
    color: white;
    justify-content: left;
    text-align: left;
    margin-left: 3%;
    margin-top: 30%;
}

.index-text {
    font-size: 1.75rem;
    color: white;
    padding: 20px 0 20px 0;
    line-height: 2rem;
    justify-content: left;
    text-align: left;
    margin-left: 3%;
}

.heading-info {
    font-size: 4rem;
    font-family: "Cardo", sans-serif;
    padding: 0;
    color: #7D8E95;
}

.intro {
    width: 100vw;
    height: auto;
}

.index-info {
    color: #7D8E95;
    padding: 10px;
    height: fit-content;
}

.container-fluid {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: fit-content;
}

.nature-home-info {
    display: flex;
    text-align: center;
    justify-content: center;
    height: fit-content;
    width: 100vw;
    padding: 30px;
    font-family: 'Cardo', sans-serif;
    margin: 0;
}

.carousel-products {
    margin: 0;
    width: 100vw;
    height: fit-content;
    background-color: white;
    overflow-x: hidden;
}

.carousel-inner {
    width: 100vw;
    height: fit-content;
    display: flex;
}

.carousel-item {
    align-items: center;
    justify-content: center;
    padding: 0;
}

.carousel-item img {
    opacity: 0.8;
}

.carousel-control-prev-icon {
    background-color: #344648;
    margin-left: 90%;
}

.carousel-control-next-icon {
    background-color: #344648;
    margin-right: 90%;
}

.card-img-overlay {
    text-align: center;
}

.card-img-overlay a {
    text-decoration: none;
}

#carousel-title:hover {
    color: #ffffff;
}

.card-title {
    text-align: center;
    margin-top: 10vh;
    font-size: 3rem;
    font-family: "Cardo", sans-serif;
    padding: 0;
    color: #344648;
    opacity: 1;
}

footer {
    margin-bottom: 0;
    padding: 0px;
    font-family: "Cardo", sans-serif;
    background-color: #7D8E95 !important;
    color: white;
    font-size: 16px;
    height: fit-content !important;
    width: 100vw;
    justify-content: space-evenly;
    overflow: hidden;
}

.footer-content {
    margin-left: 5%;
    padding: 10px;
    margin-top: 0px;
}

.footer-line {
    display: inline-block;
    width: 30vw;
}

.copyright {
    line-height: 1rem;
    text-align: center;
    padding: 5px;
    margin-left: 75%;
    margin-right: 1%;
    margin-top: 35%;
    margin-bottom: 10%;
}

.sign-up-form {
    display: inline-block;
    padding-bottom: 10px;
    margin: 0;
}

.signup-form-button {
    font-size: 14px;
}

.signup-form-email {
    width: 30vw;
    border: none;
}

.list-inline-item a {
    padding: 10px;
    font-size: 1.5rem;
    color: #FFBB98;
    list-style: none;
}

.social-links {
    font-size: 1.5rem;
    line-height: 2rem;
    flex-direction: row !important;
    padding: 5px;
    width: 100%;
    margin-left: 75%;
    margin-top: 30%;
    justify-content: center;
    text-align: center;
}


/*-------------------Product Pages */

.product-page {
    width: 100vw;
    height: fit-content;
    margin-top: 225px;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.page-underline {
    border: 3px solid;
    border-color: #7D8E95;
    padding: 0;
    text-align: center;
    width: 25vw;
}

.page-title {
    font-family: "Josefin Sans", sans-serif;
    color: #344648;
    text-align: center;
    justify-content: center;
}

.product-card {
    margin-left: 20px;
    margin-top: 0;
    padding: 0;
}

.products {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.products img {
    height: 60vh;
    margin: 0;
    padding: 0;
    width: auto;
}

.card-body {
    margin: 0;
    padding: 0;
}

.page-end {
    width: 100vw;
    border: 0;
    border-top: 2px solid;
    border-color: #7D8E95;
    margin: 0;
    padding: 0px;
    text-align: center;
}

.row {
    width: 100vw;
}

.product-detail {
    width: 100vw;
    height: fit-content;
    margin-top: 275px;
    padding-right: 50px;
    align-items: center;
    justify-content: center;
}

.product-image {
    transform: scale(0.5);
}

.product-name {
    font-size: 20px;
}

.review-card {
    width: 50vw;
}

/* Philosophy Page */

.philosophy {
    margin: 0;
    padding: 0;
    background-image: url('/media/philosophy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: fit-content;
}

.philosophy-title {
    font-size: 6rem;
    font-family: "Cardo", sans-serif;
    padding: 0;
    color: white;
    justify-content: left;
    text-align: left;
    margin-left: 3%;
    margin-top: 33%;
}

/* Subscription */

.subscription {
    margin: 0;
    padding: 0;
    background-image: url('/media/oils-page.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: fit-content;
}

.subscription-title {
    font-size: 6rem;
    font-family: "Cardo", sans-serif;
    padding: 0;
    color: white;
    justify-content: left;
    text-align: left;
    margin-left: 3%;
    margin-top: 30%;
    margin-bottom: 0%;
}

.sub-text {
    color: #344648;
    font-weight: 600;
    padding-bottom: 0;
}

.sub-photo {
    height: 60vh;
    margin: 0;
    padding: 0;
    width: auto;

    animation-name: sub-zoom;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}

@keyframes sub-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
        opacity: 0.6;
    }
}

.subscription-info {
    margin-top: 0;
    padding: 0;
}

.sub-detail {
    align-items: center;
    justify-content: center;
    margin-top: 175px;
}

/* Shopping Cart */

.cart-page {
    width: 100vw;
    height: fit-content;
    padding: 0;
    align-items: center;
    justify-content: center;
    margin-top: 225px;
}

.shopping-card {
    width: 40vw;
    padding: 5px;
    margin-top: 225px;
    height: fit-content;
    justify-content: center;
}

.cart-image {
    max-height: 50vh;
    width: auto;
}

.cart-quantity {
    width: 5vw;
}

.cursor {
    cursor: pointer;
}

.shop-button {
    background-color: #344648;
    color: white;
}

.shop-button:hover {
    background-color: #8e9A82;
    color: white ;
    border-color: #7D8E95;
}

.arrow {
    color: #7D8E95;
}

.no-items {
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 10px;
}

/*----------------Bootstrap Toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/*------------------------Checkout*/

.card-warning {
    color: red;
}

.stripe-style-input {
    width: 40vw;
    padding: 5px;
}

.card-element {
    font-family: "Cardo", sans-serif;
}

select,
select option {
    color: #000000;
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}

/*-----------------------All Auth*/

.allauth {
    margin-top: 125px;
    width: 100vw;
    height: fit-content;
    text-align: center;
    justify-content: center;
}

.allauth-form-inner-content p {
    margin-top: 1rem;
    color: #344648;
    padding: 5px;
    font-family: "Cardo", sans-serif;
}

.allauth-form-inner-content input {
    padding: 5px;
    border-radius: 0;
    margin-bottom: 5px;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #344648;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    background-color: #FFBB98;
    color: #344648;
    border-color: #7D8E95;
}

.allauth-form-inner-content a {
    color: #17a2b8;
    /* text-info */
}

/*---------------------------Stripe*/

.StripeElement {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 0px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
    padding: 10px;
    width: 30vw;
}

/*----------------Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

.add-product input {
    margin-bottom: 10px;
}

#id_category {
    margin-bottom: 10px;
}

/* --------------------User Profile Form */

.profile-form-input {
    border-radius: 0;
    margin-bottom: 5px;
}

.order-history {
    max-height: 450px;
    overflow-y: auto;
}

/* -----------------------------404 Error Page */

.error-page {
    margin: 0;
    padding: 0;
    background-image: url('/media/error-page.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: fit-content;
}

/*------------------Media Queries */
 
@media screen and (max-width: 576px) {
    .nav-item a {
        color: white !important;
        font-size: 12px;
        padding: 5px;
        text-transform: uppercase;
        font-family: 'Josefin Sans', sans-serif !important;
        vertical-align: middle;
        line-height: 30px;
    }

    .navbar-collapse {
        width: 100vw;
        flex-direction: row;
    }

    .nav-nature-mobile {
        padding: 0;
        width: 100vw !important;
        background-color: #7D8E95 !important;
        margin-bottom: 0 !important;  
    }

    .mobile-collapse-bar {
        display: inline-block;
        margin: 0;
    }

    .dropdown-menu.show {
        width: 60vw !important;  
        z-index: 2;
    }

    .dropdown-menu.account-dropdown.show {
        position: absolute;   
    }

    .navbar-toggler {
        padding: 15px 10px 15px 10px !important;
        display: block !important;
    }

    .mobile-logo {
        display: flex !important;
        margin-top: 30px;
        justify-content: center;
        text-align: center;
        transform: scale(0.7);
    }

    .mobile-navigation {
        margin: 0;
        padding: 0 !important;
    }

    .icon-bar {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        font-size: 2rem;
        flex-direction: row;
        line-height: 100px;
        padding-top: 0;
    }

    .icons i {
        justify-content: center !important;
        margin: 0;
        padding: 5px;
        text-decoration: none;
    }

    .shopping-cart i {
        margin: 0;
    }

    .search-bar-mobile {
        margin-top: 250px !important;
        margin-left: 0px;
        margin-right: 0px;
        padding: 0;
        height: fit-content;
        width: 100vw;
    }

    .form-control {
        padding: 0;
    }

    .card-body {
        width: 100vw;
    }

    .jumbotron {
        padding: 0 !important;
        width: 100vw;
        margin-top: 0px !important;
        z-index: 1;
    }

    .intro {
        width: 90vw;
        margin-top: 0px;
        justify-content: center;
    }

    .index-title {
        font-size: 3rem;
        color: white;
        display: inline-block;
        margin-left: 0 !important;
    }

    .intro p {
        text-align: left;
    }

    .nature-home-info {
        height: fit-content;
        padding: 0 !important;
    }

    .nature-home-info > a {
        width: 75vw !important;
    }

    .heading-info {
        font-size: 3rem;
    }

    .lead {
        font-size: 1rem !important;
    }

    .card-img-overlay {
        padding: 5px;
    }

    .container {
        padding: 0;
    }

    .carousel-products {
        justify-content: center !important;
        width: 90vw !important;
    }

    .carousel-inner {
        padding: 0;
        width: 90vw !important;
        justify-content: center;
        height: fit-content;
    }

    .carousel-item {
        width: 95vw !important;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .carousel-item img {
        transform: scale(0.9);
    }

    .carousel-control-prev-icon {
        margin-left: 0 !important;
        padding: 5px;
    }

    .carousel-control-next-icon {
        margin: 0 !important;
        padding: 5px;
    }

    .footer {
        bottom: 0 !important;
        width: 100vw;
        display: inline-block;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: fit-content;
        background-color: white;
        font-size: 12px;
        margin: 30px 0px 30px 0px;
    }

    .row {
        margin: 0;
    }

    .sign-up-form {
        width: 80vw;
        height: fit-content;
        margin: 0;
    }

    .footer-line {
        display: inline-flex;
        width: 80vw !important;
        margin: 0;
        text-align: center;
    }

    .footer-content {
        padding: 0px !important;
        width: 80vw !important;
        justify-content: center;
        align-items: center;
        margin-left: 50px !important;
    }

    .social-links {
        font-size: 1.5rem;
        line-height: 2.5rem;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 90vw;
        margin: 0 auto;
        justify-content: center;
    }

    .signup-form-email {
        width: 80vw;
    }

    .copyright {
        text-align: center;
        justify-content: center;
        width: 80vw;
        margin-left: 25px !important;
    }

    .product-page {
        margin-top: 50px !important;
    }

    .product-image {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        transform: scale(0.5) !important;
        padding: 0;
    }

    .product-detail-page {
        align-items: center;
        justify-content: center;
        width: 80vw !important;
        margin-left: 25px;
        margin-top: 0px !important;
    }

    .product-detail {
        margin-top: 0px !important;
    }

    .product-detail p {
        font-size: 1rem;
    }

    .review-card {
        width: 50vw !important;
        justify-content: left !important;
        margin: 0 !important;
    }

    .review-card h5 {
        transform: scale(0.5);
    }

    .review-title {
        margin: 0 !important;
    }

    .shop-button {
        font-size: 0.7rem;
    }

    .philosophy-title {
        font-size: 4rem;
    }

    .philosophy-text p {
        font-size: 1rem;
    }

    .subscription-title {
        font-size: 4rem;
    }

    .subscription-info {
        margin-top: 25px;
    }

    .sub-text {
        color: white;
        font-size: 2rem;
    }

    .subscribe-link {
        margin-top: 35px;
    }

    .cart-page {
        margin-top: 50px !important;
    }

    #card-element {
        width: 80vw;
    }

    .allauth {
        margin-top: 0px;
    }
}

@media screen and (max-width: 768px) {
    .nav-item a {
        font-size: 2rem;
        color: white !important;
        padding: 5px;
        text-transform: uppercase;
        font-family: 'Josefin Sans', sans-serif !important;
    }

    .nav-item .dropdown {
        width: fit-content;
    }

    .navbar {
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .mobile-navigation {
        flex-direction: row;
        line-height: 100px;
        justify-content: space-around !important;
        padding-top: 10px;
    }

    .navbar-toggler {
        padding: 15px 10px 15px 10px !important;
        margin-top: 10px;
        display: block !important;
    }

    .navbar-collapse.collapse.show {
        width: 50vw;
        padding: 5px;
    }

    .nav-nature-mobile {
        width: 100vw !important;
        height: fit-content !important;
        background-color: #7D8E95 !important;
        overflow-x: hidden;
        margin: 0 !important;
    }

    .navbar-toggler {
        padding: 10px;
        margin-left: 15px;
        display: block !important;
    }

    .mobile-logo {
        display: flex !important;
        margin-top: 25px;
        justify-content: center;
    }

    #mobile-logo {
        width: 7rem;
        height: 7rem;
        padding: 0;
    }

    .dropdown-menu {
        position: relative;
    }

    .dropdown-menu.show {
        width: 60vw !important;  
    }

    .icons {
        font-size: 3rem;
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 3rem;
    }

    .icons i {
        font-size: 1.5rem;
        margin-top: 5px;
        text-decoration: none !important;
    }

    .search-bar-mobile {
        margin-top: 225px;
        margin-left: 0px;
        margin-right: 0px;
        padding: 0;
        height: fit-content;
        width: 100vw;
    }

    .jumbotron {
        padding: 5px;
        margin-top: 0px !important;
        width: 100vw;
    }

    .intro {
        margin-top: 25px;
        width: 100vw !important;
        justify-content: center;
    }

    .index-title {
        font-size: 3rem;
        color: white;
        margin-left: 5% !important;
    }

    .intro p {
        font-size: 2rem;
        text-align: left;
    }

    .nature-home-info {
        height: fit-content;
        padding: 0 !important;
    }

    .nature-home-info > a {
        width: 80vw !important;
    }

    .heading-info {
        font-size: 5rem;
    }

    .lead {
        font-size: 1.5rem;
    }

    .carousel-products {
        padding: 20px;
        width: 80vw;
    }

    .carousel-item {
        width: 80vw !important;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .carousel-inner {
        justify-content: center;
        text-align: center;
    }

    .carousel-item img {
        transform: scale(0.9);
    }

    .carousel-control-prev-icon {
        margin-left: 100% !important;
        padding: 10px;
    }

    .carousel-control-next-icon {
        margin-right: -75% !important;
        padding: 10px;
    }

    .row {
        margin: 0;
    }

    .footer-line {
        display: inline-flex;
        width: 80vw !important;
        margin: 0;
        text-align: center;
    }

    .copyright {
        margin: 50px 0px 50px 0px;
        padding: 0;
    }

    .social-links {
        font-size: 2.5rem;
        line-height: 4rem;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 90vw;
        margin: 0 auto;
        justify-content: center;
    }

    .footer-content {
        justify-content: center;
    }

    .product-page {
        margin-top: 50px !important;
    }

    .products p {
        font-size: 1.25rem;
        font-style: normal;
    }

    .product-detail-page {
        align-items: center;
        margin-top: 0px !important;
        justify-content: center;
        width: 90vw !important;
        margin-left: 25px;
    }
    
    .product-detail p {
        font-size: 1rem;
    }

    .product-detail {
        margin-top: 0px;
    }

    .product-image {
        margin-top: 0px;
        margin-bottom: 0px;
        transform: scale(0.8);
        padding: 0;
    }

    .shop-button {
        font-size: 1rem;
    }

    .philosophy-title {
        font-size: 5rem;
    }

    .philosophy-text p {
        font-size: 1.5rem;
    }

    .sub-text {
        color: white;
        font-size: 2rem;
    }

    .cart-page {
        margin-top: 50px !important;
    }

    #card-element {
        width: 70vw;
    }

    .allauth {
        margin-top: 50px !important;
    }
}

@media screen and (max-width: 992px) {
        #nav-nature {
            height: 325px;
            width: 100vw;
            align-items: center;
            justify-content: space-evenly;
        }
        
        .nav-item a {
            font-size: 1rem;
            padding: 5px;
        }
        
        #nav-nature img {
            display: inline-flex;
            width: 100px;
            height: 100px;
            padding: 0;
            margin: 0;
        }
        
        .icons i {
            justify-content: right;
            display: inline-flex;
            flex-direction: row;
            margin: 0;
            padding: 5px;
            font-size: 1.5rem;
        }

        .icons i:hover {
            text-decoration: none !important;
        }
        
        .users {
            line-height: 2rem;
            align-items: center;
            justify-content: center;
        }

        .navbar-collapse.collapse.show {
            width: 50vw;
            padding-top: 15px;
            margin-top: 50px;
        }
        
        .nav-text {
            margin-top: 25px;
        }

        .search-bar {
            margin-top: 175px;
            margin-left: 0px;
            margin-right: 0px;
            padding: 0;
            height: fit-content;
            width: 100vw;
            background-color: #7D8E95;
            font-size: 12px;
        }

        .jumbotron {
            padding: 0px;
            margin-top: 150px;
            width: 100vw;
        }

        .footer-line {
            display: inline-flex;
            width: 80vw !important;
            margin: 0;
            text-align: center;
        }
    
        .copyright {
            margin: 50px 0px 50px 0px;
            padding: 0;
        }
    
        .social-links {
            font-size: 2.5rem;
            line-height: 4rem;
            padding-top: 15px;
            padding-bottom: 15px;
            width: 90vw;
            margin: 0 auto;
            justify-content: center;
        }
        
        .footer-content {
            justify-content: center;
        } 
        
        .product-page {
            margin-top: 225px;
        }

        .product-detail-page {
            margin-top: 100px;
        }

        .product-detail {
            margin-top: 100px;
        }

        .shop-button {
            font-size: 0.8rem;
            margin-bottom: 50px;
        }

        .cart-page {
            margin-top: 225px;
        }
        
        #card-element {
            width: 70vw;
        }
    
        .allauth {
            margin-top: 125px;
        }
    }
