body {
    font-family: 'Josefin Sans', sans-serif !important; 
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    width: 100vw;
}

.jumbotron-fluid {
    width: 100vw;
}

.jumbotron {
    margin: 0;
    padding: 0;
    background-image: url('/media/hero-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 100vw;
    height: fit-content;
}

.home-info {
    justify-content: left;
    text-align: left;
    padding: 0;
    height: fit-content;
    width: 100vw;
} 

.index-title {
    font-size: 6rem;
    font-family: "Cardo", sans-serif;
    padding: 0;
    color: #344648;
    justify-content: left;
    text-align: left;
    margin-left: 3%;
    margin-top: 30%;
}

.index-text {
    font-size: 1.75rem;
    color: white;
    padding: 20px 0 20px 0;
    line-height: 2rem;
    justify-content: left;
    text-align: left;
    margin-left: 3%;
}

.heading-info { 
    font-size: 4rem;
    font-family: "Cardo", sans-serif;
    padding: 0;
    color: #344648;
}

.intro {
    width: 100vw;
    height: auto;
}

.index-info {
    color:#7D8E95;
    padding: 10px;
    height: fit-content;
}

.container-fluid {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: fit-content;
}

.nature-head {
    width: 100vw;
    padding: 0;
    position: fixed;
}

.nature-home-info {
    background-color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    height: fit-content;
    width: 100vw;
    padding: 30px;
    font-family: 'Cardo', sans-serif;
    margin: 0;
}

.navbar {
    height: 175px !important;
    width: 100vw !important;
    background-color: #7D8E95 !important;
    align-items: center;
    justify-content: space-evenly;
    display: flexbox;
    padding: 0;
    flex-direction: row;
    margin: 0;
}

.nav-item a {
    font-size: 1.15rem !important;
    color: white !important;
    padding: 5px;
    text-transform: uppercase;
}

#nav-nature img {
    display: inline-block;
    width: 125px;
    height: 125px;
    padding: 0;
    margin: 0;
}

.icons {
    justify-content: right;
    display: inline-flex;
    flex-direction: row;
    margin: 0;
    padding: 5px;
}

.icons a {
    padding: 15px;
    font-size: 1.5rem;
    color: #FFBB98;
    align-items: center;
}

.icons i {
    padding: 15px;
    font-size: 1.5rem;
    color: #FFBB98;
    align-items: center; 
}

.shopping-cart {
    padding: 0;
    line-height: 0.2rem;
    margin: 0;
}

.dropdown-menu a {
    text-transform: lowercase;
    text-transform: capitalize;  
}

.dropdown .dropdown-item {
    color: #7D8E95 !important;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.15rem !important;
}

.cart-amount {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
}

.search-bar {
    margin-top: 300px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px;
    height: fit-content;
}

.carousel-products {
    padding: 20px;
    display: flex;
    margin: 0;
    width: 100vw;
    height: fit-content;
    background-color: #FBE0C3;
    overflow-x: hidden;
}

.carousel-inner {
    padding: 20px;
    width: 100vw;
    height: fit-content;
    display: flex;
}

.carousel-item {
    align-items: center;
    justify-content: center;
    padding: 0;
}

.card-img-overlay {
    text-align: center;
}

.card-title {
    text-align: center;
    margin-top: 10vh;
    font-size: 5rem;
    font-family: "Cardo", sans-serif;
    padding: 0;
    color: #344648;
}

.footer {
    bottom: 0;
    padding: 15px;
    font-family: "Cardo", sans-serif;
    color:#344648;
    font-size: 16px;
    height: fit-content !important;
    width: 100vw;
    justify-content: space-evenly;
    overflow: hidden;
}

.footer-content {
   margin-left: 5%;
   padding: 10px;
   margin-top: 10px;
}

.footer-line {
    display: inline-block;
    width: 30vw;
}

.copyright {
    line-height: 1rem;
    text-align: center;
    padding: 5px;
    margin-left: 75%;
    margin-right: 1%;
    margin-top: 35%;
    margin-bottom: 10%;
}

.sign-up-form {
    display: inline-block;
    padding-bottom: 10px;
    margin: 0;
}

.signup-form-button {
    font-size: 14px; 
}

.signup-form-email {
    width: 30vw;
    border: none;
}

.list-inline-item a {
    padding: 10px;
    font-size: 1.5rem;
    color: #7D8E95;
    list-style: none;
}

.social-links {
    font-size: 1.5rem;
    line-height: 2rem;
    flex-direction: row !important;
    padding: 5px;
    width: 100%;
    margin-left: 75%;
    margin-top: 30%;
    justify-content: center;
    text-align: center;
}


/*-------------------Product Pages */

.product-page {
    width: 100vw;
    height: fit-content;
    margin-top: 225px;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.product-underline {
    border: 3px solid;
    border-color: #7D8E95;
    padding: 0;
    text-align: center;
    width: 25vw;
}

.product-title {
    font-family: "Josefin Sans", sans-serif;
    color: #344648;
    font-size: 28px;
    text-align: center;
    justify-content: center;
}

.product-card {
    margin-left: 20px;
    margin-top: 10px;
    padding: 0;
}

.products {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.products img {
    transform: scale(0.7);
}

.product-end {
    width: 100vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid;
    border-color:#7D8E95;
    margin: 0;
    padding-bottom: 10px;
    text-align: center;
}

.row {
    width: 100vw;
}

.product-detail {
    width: 100vw;
    height: fit-content;
    margin-top: 275px;
    padding-right: 50px;
    align-items: center;
    justify-content: center;
}

.product-image {
    transform: scale(0.5);
}

.product-name {
    font-size: 20px;
}

/*------------------Media Queries */

@media (max-width: 576px) {

    .nav-item a {
        font-size: 1rem !important;
        color: white !important;
        padding: 5px;
        text-transform: uppercase;
        font-family: 'Josefin Sans', sans-serif !important;
        vertical-align: middle;
    }

    .navbar-collapse {
        height: fit-content;
        width: 100vw;  
        flex-direction: column;
    }

    .navbar-nav {
        align-items: center;
        justify-content: center;     
    }

    #nav-nature-mobile {
        position: absolute !important;
        height: fit-content !important;
        width: 100vw !important;
        background-color: #7D8E95 !important;
        justify-content: space-evenly;
        text-align: center;
        margin: 0 !important;
    }

    .navbar-toggler {
        padding: 5px;
        margin: 10px;
        display: block !important;
    }

    .mobile-logo {
        display: flex !important;
        margin-top: 15px; 
        justify-content: center; 
        text-align: center; 
    }

    #mobile-logo {
        width: 5rem;
        height: 5rem;
        padding: 0;    
    }

    .icons {
        line-height: 2.5rem;
        align-items: center;
        text-align: center;
        justify-content: center !important;
        margin-bottom: 75px;
        margin-right: 0px !important;
    }
    
    .icons a {
        font-size: 1.25rem;
        margin-top: 5px; 
        padding: 10px; 
        text-align: center;
    }

    .shopping-cart i {
        font-size: 1.25rem;
        text-align: center;
        margin: 0;
    }

    .jumbotron {
        padding: 10px;
        margin-top: 50px;
        width: 100vw;
    }

    .index-title {
        font-size: 0.6rem;
        margin-left: 3%;
        margin-top: 90%;
    }
    
    .index-text {
        margin-left: 3%;
        font-size: 0.4rem;
    }

    .intro {
        margin-top: 50px; 
        overflow: hidden;
    }

    .nature-home-info {
        text-align: center;
        justify-content: center;
        width: 100vw;
        height: fit-content;
        padding: 30px 5px 30px 5px;
        display: flex;
        flex-direction: column; 
    }

    .heading-info {
        font-size: 3rem;
    }

    .lead {
        font-size: 1.5rem;
    }

    .card-img-overlay {
        padding: 5px;
    }

    .carousel-products {
        width: 100vw;
        align-items: center;
        overflow: hidden;
    }

    .carousel-item {
        height: fit-content;
        justify-content: center;
        align-items: center;
        width: 80vw;
    }

    .carousel .slide {
        width: fit-content;
        overflow: hidden;
    }
    
    .item img {
        position: absolute;
        top: 0;
        left: 0;
    }

    .carousel-item h1 {
        font-size: 4rem;
    }

    .carousel-inner {
        max-width: 100vw;
        align-items: center;
    }

    .carousel-inner img {
        padding: 5px;
        width: 80vw;
    }
    
    .footer {
        bottom: 0 !important;
        display: inline-block;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: fit-content;
        width: 100vw;
        background-color: white;
        font-size: 12px;
        margin: 30px 0px 30px 0px;
    }

    .row {
        margin: 0;
    }

    .sign-up-form {
        width: 80vw;
        height: fit-content;
        margin: 0;
    }

    .footer-line {
        display: inline-flexbox;
        width: 60vw !important;
        margin: 0;
        text-align: center;
    }

    .footer-content {
        padding: 10px !important;
        width: 90vw;
        justify-content: center;
        align-items: center;
        margin: 0 !important;
    }

    .social-links {
        font-size: 1.5rem;
        line-height: 2.5rem;
        padding-top: 15px;
        width: 100vw;
        margin: 0 auto;
        justify-content: center;
    }

    .list-inline-item {
        padding: 5px;
        margin: 0 auto;
    }

    .copyright {
        text-align: center;
        justify-content: center;
        width: 80vw;
        margin: 0 auto;
    }

    .product-detail {
        width: 100vw;
        height: fit-content;
        margin-top: 325px;
        padding: 5px;
        align-items: center;
        justify-content: center;
    }

    .product-image {
        margin-top: 325px;
        transform: scale(1);
    }

    .product-description {
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .product-detail-overlay {
        height: fit-content;
        margin: 0;
        width: 80vw;
    }
}

 @media (max-width: 766px) {
    .nav-item a {
        font-size: 1rem !important;
        color: white !important;
        padding: 5px;
        text-transform: uppercase;
        font-family: 'Josefin Sans', sans-serif !important;
    }
    .nav-item .dropdown {
        width: fit-content;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
    }

    #nav-nature-mobile {
        position: absolute !important;
        height: fit-content !important;
        width: 100vw !important;
        background-color: #7D8E95 !important;
        justify-content: space-evenly;
        display: flex;
        padding-bottom: 10px;
    }

    .navbar-toggler {
        padding: 5px;
        margin: 10px;
    }

    .hero {
        background-size: cover;
        width: 100vw;
        height: max-content;
        margin: 0;
    }

    .lead {
        font-size: 1.5rem;
    }

    .mobile-logo {
        display: flex !important;
        margin-top: 15px; 
        justify-content: center;  
    }

    #mobile-logo {
        width: 5rem;
        height: 5rem;
        padding: 0;    
    }

    .icons {
        display: flex;
        height: 2rem;
        padding: 5px;
        justify-content: center;
    }
    
    .icons a {
        font-size: 1.25rem;
        margin-top: 5px; 
        line-height: 2rem;
    }

    .icons i {
        font-size: 1.25rem;
        margin-top: 5px; 
    }

    .carousel-products {
        padding: 20px;
        width: 80vw;
        height: fit-contents;
    }
    

    .footer {
        bottom: 0 !important;
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: fit-content !important;
        width: 100vw !important;
        background-color: white;
        font-size: 12px;
    }

    .sign-up-form {
        width: 90vw;
        height: fit-content;
    }

    .footer-line {
        display: inline-flexbox;
        width: 80vw;
        text-align: center;
        margin-left: 5%;
    }
    .footer .row {
        justify-content: center;
    }

    .footer-content {
        margin: 5px;
        text-align: center;
        padding: 15px;
    }

    .socials li {
        font-size: 1.5rem;
        line-height: 2rem;
    } 

    .social-media {
        width: 100vw;
        height: fit-content;
        display: inline-flexbox;
        align-items: center;
        justify-content: center; 
        text-align: center;
        margin: 0% 15% 0% 0%;
        padding: 0;
    }
 }

 @media (max-width: 992px) {
    .navbar {
        height: 225px !important;
        width: 100vw;
    }

    #nav-nature img {
        display: inline-block;
        width: 100px;
        height: 100px;
        padding: 0;
        margin: 0;
    }

    .dropdown .dropdown-item {
        font-size: 0.8rem !important;
    }

    .dropdown-menu a {
        font-size: 0.8rem !important;
    }

    .navbar-nav {
        display: inline-flexbox;
        flex-direction: row;
        padding: 25px;
        margin: 0;
    }

    .navbar-nav li {
        padding: 10px;
    }

    .nav-item a {
        font-size: 1rem !important;
        color: white !important;
        text-transform: uppercase;
        font-family: 'Josefin Sans', sans-serif !important;
    }
    
    .navbar-toggler {
        display: none;
    }

    .icons {
        padding: 2px;
        margin-right: 5px;
        text-align: right;
        justify-content: right;
        line-height: 2rem;
    }

    .icons a {
        font-size: 1.25rem;
        display: inline-block;
    }

    .icons i {
        font-size: 1.25rem;
        display: inline-block;
    }

    .index-title {
        font-size: 4rem;
        margin-left: 3%;
        margin-top: 55%;
    }
    
    .index-text {
        font-size: 1.5rem;
        line-height: 2rem;
        justify-content: left;
        text-align: left;
        margin-left: 3%;
    }

 }

