
body {
    font-family: 'Josefin Sans', sans-serif !important; 
    padding: 0;
    overflow-x: hidden;
}

.hero {
    position: relative; 
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/media/hero-image.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    opacity: 0.9;
    margin: 0;
    padding: 0;

     &::before {
        content: "";
        background-image: url('/media/hero-image.jpg');
        width: 100vw;
        position: absolute;  
        opacity: 0.9;  
        margin: 0;   
        padding: 0;
    }
}

.home-info {
    margin-left: 2%;
    padding: 0;
}

.index-title {
    position: relative;
    text-align: left;
    margin-top: 40vh;
    font-size: 6rem;
    font-family: "Cardo", sans-serif;
    padding: 0;
    color: #344648;
}

.heading-info { 
    font-size: 4rem;
    font-family: "Cardo", sans-serif;
    padding: 0;
    color: #344648;
    text-align: center;
}

.index-text {
    font-size: 1.75rem;
    color: white;
    padding: 20px 0 20px 0;
    line-height: 2rem;
    text-align: left;
}

.index-info {
    color:#7D8E95;
    padding: 10px;
    height: fit-content;
}

.container-fluid {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: fit-content;
}

.nature-head {
    width: 100vw;
    padding: 0;
    margin: 0;
}

.nature-home-info {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 100vw;
    padding: 20px;
    font-family: 'Cardo', sans-serif;
}

.navbar {
    height: 175px !important;
    width: 100vw !important;
    background-color: #7D8E95 !important;
    align-items: center;
    justify-content: space-evenly;
    display: flexbox;
    padding: 0;
    flex-direction: row;
}

.nav-item a {
    font-size: 1.15rem !important;
    color: white !important;
    padding: 5px;
    text-transform: uppercase;
}

#nav-nature img {
    display: inline-block;
    width: 125px;
    height: 125px;
    padding: 0;
    margin: 0;
}

.icons {
    text-align: center;
    display: inline-flex;
    flex-direction: row;
    margin-right: 1%;
    padding: 5px;
}

.icons a {
    padding: 15px;
    font-size: 1.5rem;
    color: #FFBB98;
    align-items: center;
}

.icons i {
    padding: 15px;
    font-size: 1.5rem;
    color: #FFBB98;
    align-items: center; 
}

.shopping-cart {
    padding: 0;
    line-height: 0.2rem;
}

.dropdown-menu a {
    text-transform: lowercase;
    text-transform: capitalize;  
}

.dropdown .dropdown-item {
    color: #7D8E95 !important;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.15rem !important;
}

.cart-amount {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
}

.home-info {
    margin: 0;
    padding: 15px;
}

.carousel-products {
    align-items: center;
    justify-content: center;
    padding: 20px;
    display: flex;
    background-color: #FBE0C3;
}

.card-img-overlay {
    display: flex;
    align-content: center;
    justify-content: center;
}

.card-title {
    text-align: center;
    margin-top: 20vh;
    font-size: 5rem;
    font-family: "Cardo", sans-serif;
    padding: 0;
    color: #344648;
}

.footer {
    position: relative;
    padding: 25px;
    font-family: "Cardo", sans-serif;
    color:#344648;
    font-size: 16px;
    display: flex;
    height: 175px !important;
    width: 100vw;
}

.footer-content {
   margin-left: 2%;
   height: fit-content;
}

.footer-line {
    display: inline-flexbox;
    width: 30vw;
}

.copyright {
    position: absolute;
    width: 100vw;
    line-height: 10px;
    text-align: center;
    bottom: 5px;
    font-family: "Cardo", sans-serif;
    color:#344648;
    padding: 5px;
}

.signup-button {
    display: inline-flex;
    line-height: 1rem;
}

.signup-form-button {
    font-size: 14px;
}

.list-inline-item a {
    padding: 15px;
    font-size: 1.5rem;
    color: #7D8E95;
    align-items: center;
    list-style: none;
}

.social-links {
    margin-right: 1%;
    align-items: right;
    justify-content: right;
    display: inline-flexbox;
    font-size: 1.5rem;
    line-height: 2rem;
    flex-direction: row;
    padding: 5px;
    width: 100%;
    margin-top: 3rem;
}

/*------------------Media Queries */

@media (max-width: 767.98px) { 
  
    .nav-item a {
        font-size: 1rem !important;
        color: white !important;
        padding: 5px;
        text-transform: uppercase;
        font-family: 'Josefin Sans', sans-serif !important;
    }
    .nav-item .dropdown {
        height: max-content;
    }

    #nav-nature-mobile {
        position: absolute !important;
        height: fit-content !important;
        width: 100vw !important;
        background-color: #7D8E95 !important;
        justify-content: space-evenly;
        display: flex;
        padding-bottom: 10px;
        flex-direction: row;
    }

    .navbar-toggler {
        padding: 5px;
        margin: 10px;
    }

    .hero {
        background-size: cover;
        width: 100vw;
    }

    .lead {
        font-size: 1.5rem;
    }

    .mobile-logo {
        display: flex !important;
        margin-top: 15px; 
        justify-content: center;  
    }

    #mobile-logo {
        width: 5rem;
        height: 5rem;
        padding: 0;    
    }

    .icons {
        display: flex;
        height: 2rem;
        padding: 5px;
        justify-content: center;
    }
    
    .icons a {
        font-size: 1.25rem;
        margin-top: 5px; 
        line-height: 2rem;
    }

    .icons i {
        font-size: 1.25rem;
        margin-top: 5px; 
    }

 }