{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row cart-page">
        <div class="col">
            <h1 class="page-title">Shopping Cart</h1>
            <hr class="page-underline">
        </div>
    </div>

    <div class="row">
        <div class="col-4 cart-detail">
            {% if cart_items %}
            <a href="{{ product.image.url }}" target="_blank">
                <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
            </a>
            {% else %}
            <div class="no-items text-center">
                <p class="lead text-center mb-2">
                    You have no items in your shopping cart.
                </p>
                <a href="{% url 'products' %}" class="btn rounded-2 btn-lg shop-button">
                    <span class="icon">
                        <i class="fas fa-chevron-left arrow"></i>
                    </span>
                    <span class="text-uppercase">Continue Shopping</span>
                </a>
            </div>
        </div>
        {% endif %}

    </div>
</div>
<div class="col-4">
    {{ cart_items }}
</div>

<div class="col-4">

</div>
</div>

</div>
<div>
    <hr class="page-end">
    </hr>
</div>

{% endblock %}