{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid w-100 text-center">
    <div class="row cart-page">
        <div class="col-12 mx-auto">
            <h1 class="page-title">Shopping Cart</h1>
            <hr class="page-underline">
        </div>
    </div>

    {% if cart_items %}
    {% for item in cart_items %}
    <div class="shopping-card card row mx-auto my-2 p-2">
        <div class="col-12">
            {% if item.product.image %}
            <img class="img-fluid rounded" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
            {% else %}
            <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
            {% endif %}
        </div>
        <div class="col-12">
            <p class="m-1"><strong>{{ item.product.name }}</strong></p>
            <p>€{{ item.product.price }}</p>
            <form class="form" action="{% url 'adjust_cart' item.item_id %}" method="POST">
                {% csrf_token %}
                <p class="mt-3"><strong>Quantity:</strong></p>
                <div class="form-group">
                    <div class="input-group mx-auto cart-quantity">
                        <input class="form-control qty_input" type="number" name="quantity" value="{{ item.quantity}}"
                            min="1" max="99" data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12">
            <a class="update-link cursor text-info"><small>Update</small></a>
            <a class="remove-item cursor text-danger" id="remove_{{ item.item_id }}"><small>Remove</small></a>
        </div>
    </div>
    {% endfor %}
    <hr>
    <div class="row text-center">
        <div class="col-12 mx-auto">
            <h6><strong>Sub Total: €{{ total|floatformat:2 }}</strong></h6>
            <h6>Delivery: €{{ delivery|floatformat:2 }}</h6>
            <h4 class="mt-4"><strong>Total: €{{ grand_total|floatformat:2 }}</strong></h4>
            <a href="{% url 'checkout' %}" class="btn rounded-2 btn-lg shop-button mb-3">
                <span class="text-uppercase">Checkout</span>
            </a>
        </div>
    </div>
    {% else %}
    <div class="no-items w-100 mx-auto text-center row">
        <div class="col-12">
            <p class="lead text-center mb-4">
                You have no items in your shopping cart.
            </p>
            <a href="{% url 'products' %}" class="btn rounded-2 btn-lg shop-button">
                <span class="icon">
                    <i class="fas fa-chevron-left arrow"></i>
                </span>
                <span class="text-uppercase">Continue Shopping</span>
            </a>
        </div>
    </div>
    {% endif %}
    <div>
        <hr class="page-end">
        </hr>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/cart/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken,
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock %}