{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container-fluid text-center">
    <div class="row product-page">
        <div class="col-12">
            {% for category in current_categories %}
            {% if category.name == "Candles" %}
            <h1 class="product-title">Candles</h1>
            {% elif category.name == "Oils" %}
            <h1 class="product-title">Oils</h1>
            {% elif category.name == "Soaps" %}
            <h1 class="product-title">Soaps</h1>
            {% elif category.name == "Bundles" %}
            <h1 class="product-title">Bundles</h1>
            {% elif category.name == "Scent-Subscription" %}
            <h1 class="product-title">Scent Subscription</h1>
            {% else %}
            <h1 class="product-title">All Products</h1>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <hr class="page-underline">

    <div class="row">
        {% for product in products %}
        <div class="products mx-auto col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
            <div class="card product-card text-center mb-1 border-0">
                {% if product.image %}
                <a href="{% url 'product_detail' product.id %}">
                    <img class="card-img-top img-fluid my-3" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="{% url 'product_detail' product.id %}">
                    <img class="card-img-top img-fluid" src="https://res.cloudinary.com/kreilly86/image/upload/v1669475721/media/noimage_scnmkd.png" alt="{{ product.name }}">
                </a>
                {% endif %}
                <div class="card-body pb-0">
                    <p class="mb-0">{{ product.name }}</p>
                </div>
                <div class="card-footer bg-white pt-0 border-0 text-left">
                    <div class="row">
                        <div class="col">
                            <p class="lead mb-0 font-weight-bold">€{{ product.price }}</p>
                            {% if product.category %}
                            {% endif %}
                            {% if request.user.is_superuser %}
                            <small class="ml-3">
                                <a href="{% url 'edit_product' product.id %}">Edit</a> |
                                <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                            </small>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div>
            <hr class="page-end">
            </hr>
        </div>
    </div>
</div>

{% endblock %}